@charset "utf-8";
/* CSS Document */

body{
    background: #2f373a;
    border-top: 10px solid #0C0E0E;
    color: #4E4E4E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: medium;
    line-height: 1em;
    min-width: 920px;
}

.wrapper{
    overflow: hidden;
    width: 100%;
}

a{
    display: block;
    text-decoration:none;	
}

p{
    font-size: 0.9em;
    line-height: 1.43em;
    margin: 0;
    word-spacing: 1px;	
}

ul{
    padding: 0;	
}

li{
    list-style:none;
}

img {
    border: 0 none;
    text-align: left;
    vertical-align: top;
}

.clear{
    clear: both;	
}

.bold{
	font-weight: bold;
}

/*Application*/
#page-top{
    background: url("../images/application/page-top.gif") repeat-x scroll left top #FFFFFF;
    position: relative;
    top: -21px;
}

#page-bottom{
    background: url("../images/application/page-bottom2.gif") repeat-x scroll left bottom transparent;
}

#page_container{
    background: url("../images/application/body-bg.jpg") no-repeat scroll center top transparent;
    position: relative;
    top: 1px;
}

#header, #content, #footer {
    font-size: 0.875 em;
    margin: 0 auto;
    width: 980px;
}

.back-right{
    background: url("../images/application/back-right.jpg") repeat-y scroll 605px 0 transparent;
}

#content {
    background: url("../images/application/cont-tail.png") repeat-y scroll left top transparent;
    position: relative;
}
/*End Application*/

/*Header*/
#header {
    background: url("../images/application/header-bg.jpg") no-repeat scroll left bottom transparent;
    height: 460px;
    position: relative;
    z-index: 2;
}

#computer{
    position: absolute;
    right: 35px;
    top: 97px;
}

#logo{
    color: #20B7C9;
    display: block;	
    font-weight: lighter;
    height: 117px;
    overflow: hidden;
    width: 100%;
}

#logo{
    background: url("../images/application/logo.png") no-repeat;
    height: 35px;
    position: relative;
    top: 25px;
    width: 450px;
}

#logo span{
    display: none;	
}

#nav{
    margin: 0;
    overflow: hidden;
    position: relative;
    top: 47px;
    width: 100%;
    z-index: 2;
}

#nav li{
    float: left;
    height: 64px;
    margin-right: 4px;
    text-transform: uppercase;	
}

#nav a{
    background: #1E2325;
    border-radius: 20px 20px 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 0.9em;
    padding: 30px 15px;
    text-align: center;
    text-decoration: none;
}

#nav a:hover, #nav a.current{
    background: #006c81;
}

/*item-1*/
#nav #item-1 a {width:59px;background:url(../images/application/m1.png)}
#nav #item-1 a:hover,
#nav #item-1 a.current {background:url(../images/application/m1-act.png)}
/*item-2*/
#nav #item-2 a {width:65px;background:url(../images/application/m2.png)}
#nav #item-2 a:hover,
#nav #item-2 a.current {background:url(../images/application/m2-act.png)}
/*item-3*/
#nav #item-3 a {width:86px;background:url(../images/application/m3.png)}
#nav #item-3 a:hover,
#nav #item-3 a.current {background:url(../images/application/m3-act.png)}
/*item-4*/
#nav #item-4 a {width:84px;background:url(../images/application/m4.png)}
#nav #item-4 a:hover,
#nav #item-4 a.current {background:url(../images/application/m4-act.png)}
/*item-5*/
#nav #item-5 a {width:92px;background:url(../images/application/m5.png)}
#nav #item-5 a:hover,
#nav #item-5 a.current {background:url(../images/application/m5-act.png)}
/*item-6*/
#nav #item-6 a {width:74px;background:url(../images/application/m6.png)}
#nav #item-6 a:hover, 
#nav #item-6 a.current {background:url(../images/application/m6-act.png)}

.page-call{
    color: #FFFFFF;
    font-size: 1.6em;
    left: 70px;
    line-height: 30px;
    position: relative;
    top: 100px;
}

.page-call p{
    color: #FFFFFF;
    font-size: 2.5em;
    line-height: 2;
    width: 550px;	
}

.page-call p.txt-important{
    font-size: 2.2em;
    font-weight: bold;
    position: relative;
}
/*End Header*/

/*Footer*/
#footer {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 5px 30px 30px;
    position: relative;
    width: 900px;
}

#footer-content{
    padding: 47px 34px 0 37px;
}	

#footer-title{
    background: url("../images/application/footer_title_bg2.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: "Times New Roman",Times,serif;
    font-size: 1.5em;
    height: 35px;
    left: -20px;
    padding-top: 9px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 142px;
}

#footer ul{
    float: right;	
    margin: 10px 0 10px;
}

#footer p{
    font-size: 0.9em;
    left: -85px;
    position: relative;
    top: 15px;
}

#footer li{
    float: left;	
    margin: 0 6px 0 0;
}

#nav-footer span{
    margin: 0 0 0 5px;	
}

#links{
    position: relative;
    top: -40px;	
}

#links a{
    color: #FFF;
    float: left;
}

#links a:hover{
    color: #20b7c9;	
}

#help-footer{
    font-size: 0.9em;
    margin: 0;	
    position: relative;
    right: 115px;
}

#help-footer span{
    margin: 0 0 0 5px;	
}
/*End Footer*/

/*Main*/
.main a, .see-more, .edit, .go-back{
    clear: both;
    color: #2670C3;
    display: block;
    float: right;
    font-weight: normal;
    padding: 0 0 2px 12px;
	text-align: center;
    text-decoration: none;	
}

.main a:hover{
	text-decoration: underline;	
}

.see-more, .edit{
    background: url("../images/application/read_more.png") no-repeat scroll left center transparent;
    font-size: 12px;
}

.edit{
    background: url("../images/application/edit.png") no-repeat scroll left center transparent;
	padding: 0 0 0 15px;
	position: relative;
	top: 15px;
}

.edit-new{
	top: 40px;	
}

#page-new .edit{
	top: 5px;
}

.project .edit{
	right: 10px;
    top: 25px;	
}

.go-back{
	background: url("../images/application/go-back.png") no-repeat scroll left center transparent;
	font-size: 13px;
}

.edit-all{
	border-top: 5px solid #2670C3;
    display: block;
    height: 80px;
    margin: 10px 0 0;
    position: relative;
    top: 60px;
    width: 920px;
}

.edit-all .edit{
	background-position: 10px center;
    background-color: #2670C3;
    color: #FFF;
    float: left;
    padding: 5px 15px 5px 25px;
    text-align: left;
	top: 0;
} 

.edit-all .edit:hover{
	background-color: #5999E1;
	text-decoration: none;
}

.see-more-news{
	background: none;
	font-size: 1em;
	margin: 0 0 20px;
}

/*Cols*/
.col-1, .col-2, .col-unique{
    float: left;	
}

.col-unique{
    margin: 0 60px 0 0;
    padding-bottom: 33px;
    width: 918px;
}

.col-unique h2{
    border-bottom: 1px dashed #333;
    font-size: 1.9em;
    font-weight: normal;
    font-family: 'Varela', sans-serif;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-bottom: 12px;	
}

.col-unique h3, .col-1 h3{	
	color: #2670C3;
	clear: both;
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Varela', sans-serif;
    letter-spacing: -2px;
    line-height: 1.2em;
}

.col-unique .item{
    margin: 60px 0 0;	
}

.col-1{
    margin: 0 60px 0 0;
    padding-bottom: 33px;
    width: 545px;
}

.col-1 h2{
    border-bottom: 1px dashed #333;
    font-size: 1.9em;
    font-weight: normal;
    font-family: 'Varela', sans-serif;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin-bottom: 12px;	
}

.col-1 .item{
    margin: 0 0 60px 0;	
}

.col-2{
    padding: 94px 20px 0;
    width: 275px;	
}

.col-2 h2{
    border-bottom: 1px dashed #333;
    font-family: 'Varela', sans-serif;
    font-size: 1.3em;
    padding: 0 0 10px;	
}

.col-2-loggedin{
	padding: 20px 20px 0;	
}
/*End Cols*/

/*End Main*/

/*Content*/
.content-page h1{
    border-bottom: 1px dashed #999;
    color: #000000;
    font-size: 2.6em;
    font-weight: normal;
    font-family: 'Varela', sans-serif;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin: 10px 0;	
    padding: 12px 0; 
}

.content-col-1, .content-col-2{
    float: left;	
}

/*Content-col-1*/
.content-page .content-col-1{
    margin: 0 60px 0 0;
    width: 500px;
}
/*End Content-col-1*/

/*Content-col-2*/
.content-col-2{
    width: 350px;	
}
/*End Content-col-2*/

/*End Content*/

/*Home*/
.see-too ul{
    margin: 0;
}

.see-too li{
    float: left;
    margin: 0 75px 0 0;
    width: 130px;
}

.see-too li.last{
    margin:0;
}

.see-too img{
    margin: -10px 0 10px 22px;
}	

.see-too h3{
    line-height: 20px;
    text-align: center;	
}

.new{
    border-bottom: 1px dashed #999;
    margin-bottom: 20px;
    padding-bottom: 30px;	
}

.news_image img{
    border-radius: 10px;
    float: left;		
    margin: 3px 10px 0 0;	
}

.new h2{
    float: left;
    font-size: 1em;
    margin: 0 20px 0 0;
}

.new h3{
    float: left;
    font-size: 1em;
    margin: 0;
}

.new p{
    margin: 1px 0 0;	
    min-height: 50px;
}   

/*End Home*/

/*News*/
#page-new li{
    background: none repeat scroll 0 0 #FAF9F9;
    border: 1px solid #CECECE;
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 30px;
    padding: 0 15px 50px;
}

.call h3{
    float: left;
}

.call h4{
    float: right;
    font-size: 0.9em;
    position: relative;
    top: -2px;
}
/*End News*/

/*About*/
.about p{
	margin: 20px 0;
	text-indent: 20px;	
}

.teacher{
	clear:both;
	margin: 20px 0 40px 0;
	width: 605px;	
}

.teacher h4, .teacher h5{
	margin: 0 0 10px;
    padding: 0;
}

.teacher h5{
	font-size: 0.9em;
    margin: 10px 0 5px;
}

.teacher img{
	float: left;
	margin: 0 10px 0 0;
}

.chapters ul{
	float: left;
	padding: 0 20px 20px;
	width: 200px;
}

.chapters li{
	list-style: none;
	font-weight: bold;
}

.chapters li ul{
	padding: 10px 20px 20px;
}

.chapters li ul li{
	font-weight: normal;
}

.chapters li ul li ul li{
	list-style: square;
}

.chapters a{
	float: left;	
	line-height: 25px;
}
/*End About*/

/*Conteúdo*/
.categoria .item{
	margin: 0 0 40px;
}

.categorias a li{
	margin: 0 75px 20px;
	width: 150px;	
}

.categorias img{
	float: left;
    height: 50px;
    margin: 5px 10px 0 0;
    width: 60px;
}

.categorias a:hover{
	color:#333;	
}

/*Estudos*/
#studies a{
	float: left;
    line-height: 20px;
    margin: 0 0 20px;
    text-align: left;
}

/*End Estudos*/

/*End Conteúdo*/

/*Projects*/
#projects li h3{
	clear: both;	
	margin: 20px 0 0 0;
}

.project{
	cursor: pointer;
	float: left;
	margin: 10px 0 0;
}

#projects li ul{
	clear: both;
}

#projects li ul li{
	clear:both;
}

.project a{
	color: #333;
	float: right;
	margin: 0 0 10px;	
}

a.project:hover{
	float: left;
}

.project-content a.edit{
	float: right;
    top: -15px;
}

.project h4{
	clear: both;
	font-size: 1.2em;
}

.project-content {
    padding: 3px 30px;
}

/*End Projects*/

/*Pagination*/
.pagination{
	float: right;
}

.pagination a{
	clear:none;
	float: left;
	text-align:center;
}

.pagination .previous_page, .pagination .current{
	float: left;
}

.pagination .current, .pagination .disabled{
	margin: 0 0 0 10px;	
}
/*End Pagination*/

/*Monitoria*/
.chat, .forum, .monitor{
	margin: 30px 0;	
}

.chat h3, .forum h3, .monitor h3{
	margin: 0 0 10px 0;	
}

.chat a, .forum a{
	float: left;
	margin: 10px 0 0;	
}
/*Fim Monitoria*/
