px;@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

body{
	background: #2f373a;
	border-top: 10px solid #0C0E0E;
	color: #4E4E4E;
	font-family: Arial,Helvetica,sans-serif;
	font-size: medium;
	line-height: 1em;
	min-width: 920px;
}

.wrapper{
	overflow: hidden;
    width: 100%;
}

a{
	display: block;
	text-decoration:none;	
}

p{
	font-size: 0.9em;
	line-height: 1.43em;
	margin: 0;
    word-spacing: 1px;	
}

li{
	list-style:none;
}

img {
    border: 0 none;
    text-align: left;
    vertical-align: top;
}

.clear{
	clear: both;	
}

/*Application*/
#page-top{
	background: url("../images/application/page-top.gif") repeat-x scroll left top #FFFFFF;
}

#page-bottom{
	background: url("../images/application/page-bottom2.gif") repeat-x scroll left bottom transparent;
}

#page_container{
	background: url("../images/application/body-bg.jpg") no-repeat scroll center top transparent;
}

#header, #content, #footer {
    font-size: 0.875 em;
    margin: 0 auto;
    width: 980px;
}

#content {
    background: url("../images/application/cont-tail.png") repeat-y scroll left top transparent;
    position: relative;
}
/*End Application*/

/*Header*/
#header {
    background: url("../images/application/header-bg.jpg") no-repeat scroll left bottom transparent;
    height: 460px;
    position: relative;
    z-index: 2;
}

#computer{
	position: absolute;
    right: 34px;
    top: 107px;
}

#logo{
	color: #20B7C9;
	display: block;	
	font-weight: lighter;
	height: 117px;
    overflow: hidden;
    width: 100%;
}

#logo h1{
	background: url("../images/application/logo.png") no-repeat;
	height: 35px;
    width: 450px;
}

#logo span{
	display: none;	
}

#nav{
	margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	top: -14px;
    width: 100%;
    z-index: 2;
}

#nav li{
	float: left;
	height: 64px;
    margin-right: 4px;
    text-transform: uppercase;	
}

#nav a{
	background: #1E2325;
    border-radius: 20px 20px 0 0;
    color: #FFFFFF;
    display: block;
	font-size: 0.9em;
    padding: 30px 15px;
    text-align: center;
    text-decoration: none;
}

#nav a:hover, #nav a.current{
    background: #006c81;
}

	/*item-1*/
	#nav #item-1 a {width:59px;background:url(../images/application/m1.png)}
	#nav #item-1 a:hover,
	#nav #item-1 a.current {background:url(../images/application/m1-act.png)}
	/*item-2*/
	#nav #item-2 a {width:65px;background:url(../images/application/m2.png)}
	#nav #item-2 a:hover,
	#nav #item-2 a.current {background:url(../images/application/m2-act.png)}
	/*item-3*/
	#nav #item-3 a {width:86px;background:url(../images/application/m3.png)}
	#nav #item-3 a:hover,
	#nav #item-3 a.current {background:url(../images/application/m3-act.png)}
	/*item-4*/
	#nav #item-4 a {width:84px;background:url(../images/application/m4.png)}
	#nav #item-4 a:hover,
	#nav #item-4 a.current {background:url(../images/application/m4-act.png)}
	/*item-5*/
	#nav #item-5 a {width:92px;background:url(../images/application/m5.png)}
	#nav #item-5 a:hover,
	#nav #item-5 a.current {background:url(../images/application/m5-act.png)}
	/*item-6*/
	#nav #item-6 a {width:74px;background:url(../images/application/m6.png)}
	#nav #item-6 a:hover, 
	#nav #item-6 a.current {background:url(../images/application/m6-act.png)}

.page-call{
	padding: 62px 0 0 77px;	
	position: relative;
}

.page-call p{
	color: #FFFFFF;
    font-size: 2em;
    line-height: 45px;
    width: 550px;	
}

.page-call p.txt-important{
	font-size: 2.2em;
	font-weight: bold;
	position: relative;
}
/*End Header*/

/*Footer*/
#footer {
	color: #FFFFFF;
    height: 110px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    width: 980px;
}

#footer-content{
	padding: 47px 34px 0 37px;
}	

#footer-title{
	background: url("../images/application/footer_title_bg2.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: "Times New Roman",Times,serif;
    font-size: 1.5em;
    height: 35px;
    left: 30px;
    padding-top: 9px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 142px;
}

#footer ul{
	float: right;	
	margin: 10px 0 10px;
}

#footer p{
	font-size: 0.9em;
	left: -30px;
    position: relative;
    top: 35px;
}

#footer li{
	float: left;	
	margin: 0 10px 0 0;
}

#nav-footer span{
	margin: 0 0 0 5px;	
}

#links{
	position: relative;
    top: -20px;	
}

#links a{
	color: #FFF;
	float: left;
}

#links a:hover{
	color: #20b7c9;	
}

#help-footer{
	font-size: 0.9em;
	margin: 0;	
	position: relative;
    right: 115px;
}

#help-footer span{
	margin: 0 0 0 5px;	
}
/*End Footer*/

/*Main*/
.main a{
	background: url("../images/application/read_more.png") no-repeat scroll left center transparent;
    clear: both;
    color: #2670C3;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 2px 12px;
    text-decoration: none;	
}

.main a:hover{
	text-decoration: underline;
}
/*End Main*/

/*Home*/

	.col-1, .col-2{
		float: left;	
	}

	/*Col-1*/
	.col-1{
		margin: 0 60px 0 0;
		padding-bottom: 33px;
		width: 500px;
	}
	
	.col-1 h3{
		border-bottom: 1px dashed #999;
		color: #000000;
		font-size: 1.9em;
		font-weight: normal;
		font-family: 'Varela', sans-serif;
		letter-spacing: -2px;
		line-height: 1.2em;
		margin-bottom: 12px;	
	}
	
	.col-1 .item{
		margin: 0 0 60px 0;	
	}
	
	.col-1 ul{
		margin: 0;
		padding: 0;	
	}
	
	.col-1 li{
		float: left;
		margin: 0 25px 0 0;
		width: 140px;	
	}
	
	.col-1 img{
		margin: -5px 0 0;
	}	
	/*End Col-1*/

	/*Col-2*/
	.col-2{
		padding: 94px 0 0;
    	width: 350px;	
	}
	
	.col-2 h2{
		border-bottom: 1px dashed #999;
		color: #000000;
		font-family: 'Varela', sans-serif;
		font-size: 1.3em;
		margin: 0 0 20px;
		padding: 0 0 10px;	
	}
	
	.new{
		border-bottom: 1px dashed #666666;
		margin-bottom: 20px;
		padding-bottom: 20px;	
	}
	
	.news_image img{
		float: left;
		margin: 3px 10px 0 0;	
	}
	
	.new h3{
		float: left;
		font-size: 1em;
		margin: 0 20px 0 0;
	}
	
	.new h4{
		font-size: 0.8em;
	}
	
	.new p{
		margin: -10px 0 0;	
	}
	
	/*End Col-2*/

/*End Home*/