<div id="header"> <!--Header-->
  <span id="logo"><h1><%= link_to RefinerySetting.find_or_set(:site_name, "Arquiteturas de Computadores"), root_path %></h1></span>
  <%= render(:partial => "/shared/menu", :locals => {
      :dom_id => 'menu',
      :css => 'menu'
    }) %>
</div>  <!--End Header-->