<div id="computer"><img alt="" src="/images/application/computer.png"></div>

<h1>
	<%= link_to root_path, :id => "logo" do %>
		<span>Arquiteturas de Computadores</span>
	<%end%>
</h1>

<%= render(:partial => "/shared/menu", :locals => {
    :dom_id => 'menu',
    :css => 'menu',
    :nav_id => "nav",
    :item_id => true

  }) %>